[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
bootstrap-py = "*"
ultralytics = "*"
opencv-python = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
